# Notes
Notes.txt

# Keys
Keys.py

# Tools
Database_Interactor.py
maker.py

# Template
**/Commands/atemplate.py
**/Spreadsheets/Spreadsheet Backup.xlsx

# Cache
**/__pycache__

# Unfinished
**/Commands/better_select_poi.py

# AI Testing
**.png
text test.py