# Notes
Notes.txt

# Keys
Keys.py

# Tools
Database_Interactor.py
maker.py

# Template
**/Commands/atemplate.py

# Cache
**/__pycache__

# Unfinished
**/Commands/pois.py

# AI Testing
**/Commands/test_command.py
**.png
text test.py