# Notes
Notes.txt

# Keys
Keys.py

# Tools
Maker.py

# Template
**/Commands/atemplate.py

# Cache
**/__pycache__

# Unfinished
**/Commands/admin_menu.py
**/Commands/status.py
test_data.json
test_json.py
output.txt
